@import url("./variable.css");
@import url("./utilities.css");
@import url("./reset.css");
@import url("./card.css");
@import url("./snackbar.css");
@import url("./drawer.css");
@import url("./badges.css");

body {
  font-family: var(---primary-font-family);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  width: 95%;
}

.title {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(---white-bkg-color);
  z-index: 1;
  padding: 1rem;
  margin-bottom: 1rem;
}

section {
  margin: 2rem 0;
}

.cards {
  position: relative;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
  overflow-y: scroll;
  border: 2px solid var(---component-border-color);
  border-radius: 10px;
  padding-bottom: 10px;
}

.snackbar {
  width: 100%;
  max-width: 1000px;
  border: 2px solid var(---component-border-color);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative;
}


.drawer {
  border: 2px solid var(---component-border-color);
  border-radius: 10px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  height: 500px;
}

.badges{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  border: 2px solid var(---component-border-color);
  border-radius: 10px;
  overflow: hidden;

}
